openapi: 3.0.3
info:
  title: homeaway-hsapi-swagger-definition
  version: '10'
  description: '## Overview


    This OpenAPI specification consolidates the two Escapia developer APIs into a single document:


    1. **HSAPI (REST)** — the HomeAway Dragoman Adapter REST API at `https://hsapi.escapia.com/dragomanadapter` covering AddOns, Configuration, Events, Extras, FeatureGroups, Guests, Housekeeping, Marketing, NonAvailability, Owners, Packages, Payments, PromoCodes, Quotes, Reports, Reservations, Units, Utility, and WorkOrders (79 endpoints).


    2. **Gateway API (GraphQL)** — the Escapia Gateway GraphQL API at `https://api-gateway.escapia.com/graphql` for rates, fees, taxes, nightly rates, booking restrictions, booking channels, and unit listing content. Represented here as its two HTTP endpoints (/token, /graphql); see the consolidated documentation for the full GraphQL query reference.


    Authentication for HSAPI uses a bearer token from `/hsapi/auth/token` plus the `x-homeaway-hasp-api-version`, `x-homeaway-hasp-api-endsystem`, and `x-homeaway-hasp-api-pmcid` headers. Authentication for the Gateway API uses a bearer token from `/token`.'
servers:
- url: https://hsapi.escapia.com/dragomanadapter
  description: Escapia HSAPI (Dragoman Adapter)
- url: https://api-gateway.escapia.com
  description: Escapia Gateway API (GraphQL)
paths:
  /hsapi/ListAddOns:
    get:
      tags:
      - AddOns
      summary: Gets all the {HomeAway.DragomanAPI.Contract.Models.AddOn}s currently available for a single Property Management Company
      operationId: ListAddOns
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id001
                type: array
                items:
                  $ref: '#/components/schemas/AddOn'
            text/json:
              schema: *id001
            application/xml:
              schema: *id001
            text/xml:
              schema: *id001
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetAddOnById:
    get:
      tags:
      - AddOns
      summary: Gets a single {HomeAway.DragomanAPI.Contract.Models.AddOn} by its unique ID
      operationId: GetAddOnById
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: native ID of the AddOn to fetch
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id002
                $ref: '#/components/schemas/AddOn'
            text/json:
              schema: *id002
            application/xml:
              schema: *id002
            text/xml:
              schema: *id002
        '404':
          description: AddOn not found.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SearchAddOns:
    post:
      tags:
      - AddOns
      summary: "Gets available {HomeAway.DragomanAPI.Contract.Models.AddOn}s based on details within the search specification.\r\nThis can be used to see what AddOns are available for a new quote\r\nthe traveler is constructing."
      operationId: SearchAddOns
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: A paged {HomeAway.DragomanAPI.Contract.Models.CustomizationSearchSpecification}, including book and stay dates and unit
        content:
          application/json:
            schema: &id003
              $ref: '#/components/schemas/PagedSearchSpecification_AddOnSearchSpecification'
          text/json:
            schema: *id003
          application/xml:
            schema: *id003
          text/xml:
            schema: *id003
          application/x-www-form-urlencoded:
            schema: *id003
        x-body-param-name: addOnSearchSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id004
                $ref: '#/components/schemas/PagedSearchResults_AddOn'
            text/json:
              schema: *id004
            application/xml:
              schema: *id004
            text/xml:
              schema: *id004
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetCompanyInfo:
    get:
      tags:
      - Configuration
      summary: Returns the company information for a given PMCID
      operationId: GetCompanyInfo
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id005
                $ref: '#/components/schemas/CompanyInfo'
            text/json:
              schema: *id005
            application/xml:
              schema: *id005
            text/xml:
              schema: *id005
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListEventTypes:
    get:
      tags:
      - Events
      summary: "Lists the available external event types for Reservations within a specific Property Management Company, \r\nwhich is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers."
      operationId: ListEventTypes
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id006
                type: array
                items:
                  enum:
                  - Email
                  - ESignature
                  - Print
                  type: string
            text/json:
              schema: *id006
            application/xml:
              schema: *id006
            text/xml:
              schema: *id006
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListEventsByReservationId:
    post:
      tags:
      - Events
      summary: "Lists the External Event history for a Reservation within a Property Management Company based on a PagedSearchSpecification object \r\ncontaining only a string that is the NativePMSID of the desired Reservation. Any matching ReservationEvent entries are returned in a paged format \r\nbased on the incoming paging information on the search specification."
      operationId: ListEventsByReservationId
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: An object specifying the criteria with which to search Extras.
        content:
          application/json:
            schema: &id007
              $ref: '#/components/schemas/PagedSearchSpecification_String'
          text/json:
            schema: *id007
          application/xml:
            schema: *id007
          text/xml:
            schema: *id007
          application/x-www-form-urlencoded:
            schema: *id007
        x-body-param-name: searchSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id008
                $ref: '#/components/schemas/PagedSearchResults_ReservationEvent'
            text/json:
              schema: *id008
            application/xml:
              schema: *id008
            text/xml:
              schema: *id008
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListEventsByReservationNumber:
    post:
      tags:
      - Events
      summary: "Lists the External Event history for a Reservation within a Property Management Company based on a PagedSearchSpecification object containing \r\nonly a string that is the friendly ReservationNumber of the desired Reservation. Any matching ReservationEvent entries are returned in a paged format \r\nbased on the incoming paging information on the search specification."
      operationId: ListEventsByReservationNumber
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: reservationNumber
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: An object specifying the criteria with which to search Extras.
        content:
          application/json:
            schema: &id009
              $ref: '#/components/schemas/PagedSearchSpecification_String'
          text/json:
            schema: *id009
          application/xml:
            schema: *id009
          text/xml:
            schema: *id009
          application/x-www-form-urlencoded:
            schema: *id009
        x-body-param-name: searchSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id010
                $ref: '#/components/schemas/PagedSearchResults_ReservationEvent'
            text/json:
              schema: *id010
            application/xml:
              schema: *id010
            text/xml:
              schema: *id010
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/AddReservationEventByReservationId:
    post:
      tags:
      - Events
      summary: Adds the specified ReservationEvent to a Reservation within a Property Management Company.
      operationId: AddReservationEventByReservationId
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: The native endsystem reservation identifier of the reservation.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: The reservation event to add to the specified reservation.
        content:
          application/json:
            schema: &id011
              $ref: '#/components/schemas/ReservationEvent'
          text/json:
            schema: *id011
          application/xml:
            schema: *id011
          text/xml:
            schema: *id011
          application/x-www-form-urlencoded:
            schema: *id011
        x-body-param-name: reservationEvent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id012
                $ref: '#/components/schemas/ReservationEvent'
            text/json:
              schema: *id012
            application/xml:
              schema: *id012
            text/xml:
              schema: *id012
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/AddReservationEventByReservationNumber:
    post:
      tags:
      - Events
      summary: Adds the specified ReservationEvent to a Reservation within a Property Management Company.
      operationId: AddReservationEventByReservationNumber
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: reservationNumber
        in: query
        description: The friendly reservation number provided to the Guest.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: The reservation event to add to the specified reservation.
        content:
          application/json:
            schema: &id013
              $ref: '#/components/schemas/ReservationEvent'
          text/json:
            schema: *id013
          application/xml:
            schema: *id013
          text/xml:
            schema: *id013
          application/x-www-form-urlencoded:
            schema: *id013
        x-body-param-name: reservationEvent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id014
                $ref: '#/components/schemas/ReservationEvent'
            text/json:
              schema: *id014
            application/xml:
              schema: *id014
            text/xml:
              schema: *id014
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListExtras:
    get:
      tags:
      - Extras
      summary: "Lists the definitions of all available Extra(s) for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem \r\nand x-homeaway-hasp-api-pmcid headers."
      operationId: ListExtras
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id015
                type: array
                items:
                  $ref: '#/components/schemas/Extra'
            text/json:
              schema: *id015
            application/xml:
              schema: *id015
            text/xml:
              schema: *id015
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListExtrasByUnit:
    get:
      tags:
      - Extras
      summary: "Lists available Extra(s) for a single unit, specified by unitNativePMSID. This will return the definitions \r\nof the available Extras, not a booked instances of them."
      operationId: ListExtrasByUnit
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: unitId
        in: query
        description: ID for the property, in the end system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id016
                type: array
                items:
                  $ref: '#/components/schemas/Extra'
            text/json:
              schema: *id016
            application/xml:
              schema: *id016
            text/xml:
              schema: *id016
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetExtraById:
    get:
      tags:
      - Extras
      summary: Get the details for a single Extra, specified by extraNativePMSID. This will return the definition of the specified Extra, not a booked instance of that Extra.
      operationId: GetExtraById
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: The native endsystem identifier of the extra.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id017
                $ref: '#/components/schemas/Extra'
            text/json:
              schema: *id017
            application/xml:
              schema: *id017
            text/xml:
              schema: *id017
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SearchExtras:
    post:
      tags:
      - Extras
      summary: "Search for Extra(s) within a Property Management Company based on an ExtraSearchSpecification object allowing faceting by optional stay date ranges, \r\nreservation types, unit NativePMSIDs, and a search term. Any matching Extras are returned in a paged format based on the incoming paging information on the search specification."
      operationId: SearchExtras
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: An object specifying the criteria with which to search Extra(s).
        content:
          application/json:
            schema: &id018
              $ref: '#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification'
          text/json:
            schema: *id018
          application/xml:
            schema: *id018
          text/xml:
            schema: *id018
          application/x-www-form-urlencoded:
            schema: *id018
        x-body-param-name: extraSearchSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id019
                $ref: '#/components/schemas/PagedSearchResults_Extra'
            text/json:
              schema: *id019
            application/xml:
              schema: *id019
            text/xml:
              schema: *id019
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListUnitFeatureGroups:
    get:
      tags:
      - FeatureGroups
      summary: Lists all defined unit feature groups for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.
      operationId: ListUnitFeatureGroups
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id020
                type: array
                items:
                  $ref: '#/components/schemas/FeatureGroup'
            text/json:
              schema: *id020
            application/xml:
              schema: *id020
            text/xml:
              schema: *id020
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SearchGuests:
    post:
      tags:
      - Guests
      summary: Searches for Guest(s) in the Property Management Company based on the search string provided. The search string will be matched against various Guest data fields.
      operationId: SearchGuests
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: searchString
        in: query
        description: A search term used to find Guest(s). Searches span name, phone number, email address.
        required: true
        schema:
          type: string
      - name: maxResults
        in: query
        description: The maximum number of matching Guest(s) to return.
        required: true
        schema:
          type: integer
          format: int32
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id021
                type: array
                items:
                  $ref: '#/components/schemas/Guest'
            text/json:
              schema: *id021
            application/xml:
              schema: *id021
            text/xml:
              schema: *id021
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListEmailContactTypes:
    get:
      tags:
      - Guests
      summary: Lists email types for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.
      operationId: ListEmailContactTypes
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id022
                type: array
                items:
                  $ref: '#/components/schemas/EmailContactType'
            text/json:
              schema: *id022
            application/xml:
              schema: *id022
            text/xml:
              schema: *id022
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListAddressContactTypes:
    get:
      tags:
      - Guests
      summary: Lists address types for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.
      operationId: ListAddressContactTypes
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id023
                type: array
                items:
                  $ref: '#/components/schemas/AddressContactType'
            text/json:
              schema: *id023
            application/xml:
              schema: *id023
            text/xml:
              schema: *id023
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListPhoneContactTypes:
    get:
      tags:
      - Guests
      summary: Fetches the queryable of {HomeAway.DragomanAPI.Contract.Models.PhoneContactType}s for the current context.
      operationId: ListPhoneContactTypes
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id024
                type: array
                items:
                  $ref: '#/components/schemas/PhoneContactType'
            text/json:
              schema: *id024
            application/xml:
              schema: *id024
            text/xml:
              schema: *id024
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetGuestById:
    get:
      tags:
      - Guests
      summary: Gets a Guest in the Property Management Company based on the Guest NativePMSID provided.
      operationId: GetGuestById
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: The NativePMSID of a Guest to retrieve details for.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id025
                $ref: '#/components/schemas/Guest'
            text/json:
              schema: *id025
            application/xml:
              schema: *id025
            text/xml:
              schema: *id025
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/CreateGuest:
    put:
      tags:
      - Guests
      summary: ''
      operationId: CreateGuest
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id026
              $ref: '#/components/schemas/Guest'
          text/json:
            schema: *id026
          application/xml:
            schema: *id026
          text/xml:
            schema: *id026
          application/x-www-form-urlencoded:
            schema: *id026
        x-body-param-name: guest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id027
                $ref: '#/components/schemas/Guest'
            text/json:
              schema: *id027
            application/xml:
              schema: *id027
            text/xml:
              schema: *id027
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/CreateHousekeepingTask:
    post:
      tags:
      - Housekeeping
      summary: Creates new housekeeping task
      operationId: CreateHousekeepingTask
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id028
              $ref: '#/components/schemas/HousekeepingTask'
          text/json:
            schema: *id028
          application/xml:
            schema: *id028
          text/xml:
            schema: *id028
          application/x-www-form-urlencoded:
            schema: *id028
        x-body-param-name: housekeepingTask
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id029
                $ref: '#/components/schemas/HousekeepingTask'
            text/json:
              schema: *id029
            application/xml:
              schema: *id029
            text/xml:
              schema: *id029
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/DeleteHousekeepingTask:
    delete:
      tags:
      - Housekeeping
      summary: Allows to delete housekeeping task
      operationId: DeleteHousekeepingTask
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: taskId
        in: query
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetHousekeepingAssigneeList:
    get:
      tags:
      - Housekeeping
      summary: List of housekeeping activity assignees
      operationId: GetHousekeepingAssigneeList
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id030
                type: array
                items:
                  $ref: '#/components/schemas/MaintenanceAssignee'
            text/json:
              schema: *id030
            application/xml:
              schema: *id030
            text/xml:
              schema: *id030
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetHousekeepingStatusList:
    get:
      tags:
      - Housekeeping
      summary: List of housekeeping activity statuses that can be used to set the status of an activity
      operationId: GetHousekeepingStatusList
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id031
                type: array
                items:
                  $ref: '#/components/schemas/HousekeepingStatus'
            text/json:
              schema: *id031
            application/xml:
              schema: *id031
            text/xml:
              schema: *id031
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetUnitHousekeepingStatuses:
    get:
      tags:
      - Housekeeping
      summary: Get Unit clean status projections for the native unit ids passed in.
      operationId: GetUnitHousekeepingStatuses
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: PMCID
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: nativeUnitIds
        in: query
        description: ''
        required: true
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id032
                $ref: '#/components/schemas/BatchGetResponse_UnitHousekeepingStatus,String'
            text/json:
              schema: *id032
            application/xml:
              schema: *id032
            text/xml:
              schema: *id032
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SaveUnitHousekeepingStatus:
    put:
      tags:
      - Housekeeping
      summary: Saves the unit housekeeping status
      operationId: SaveUnitHousekeepingStatus
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: nativeUnitId
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id033
              $ref: '#/components/schemas/UnitHousekeepingStatusType'
          text/json:
            schema: *id033
          application/xml:
            schema: *id033
          text/xml:
            schema: *id033
          application/x-www-form-urlencoded:
            schema: *id033
        x-body-param-name: housekeepingStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id034
                type: boolean
            text/json:
              schema: *id034
            application/xml:
              schema: *id034
            text/xml:
              schema: *id034
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SearchHousekeepingTasks:
    post:
      tags:
      - Housekeeping
      summary: Gets a page of housekeeping tasks for specific search specification
      operationId: SearchHousekeepingTasks
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id035
              $ref: '#/components/schemas/PagedSearchSpecification_HousekeepingTaskSearchSpecification'
          text/json:
            schema: *id035
          application/xml:
            schema: *id035
          text/xml:
            schema: *id035
          application/x-www-form-urlencoded:
            schema: *id035
        x-body-param-name: housekeepingTaskSearchSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id036
                $ref: '#/components/schemas/PagedSearchResults_HousekeepingTaskCustom'
            text/json:
              schema: *id036
            application/xml:
              schema: *id036
            text/xml:
              schema: *id036
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/UpdateHousekeepingTask:
    put:
      tags:
      - Housekeeping
      summary: Allows to update housekeeping task
      operationId: UpdateHousekeepingTask
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id037
              $ref: '#/components/schemas/HousekeepingTask'
          text/json:
            schema: *id037
          application/xml:
            schema: *id037
          text/xml:
            schema: *id037
          application/x-www-form-urlencoded:
            schema: *id037
        x-body-param-name: housekeepingTask
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id038
                type: boolean
            text/json:
              schema: *id038
            application/xml:
              schema: *id038
            text/xml:
              schema: *id038
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListMarketingCategories:
    get:
      tags:
      - Marketing
      summary: "Lists marketing categories for a specific PM, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.\r\nRefer MarketingCategory for more details"
      operationId: ListMarketingCategories
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id039
                type: array
                items:
                  $ref: '#/components/schemas/MarketingCategory'
            text/json:
              schema: *id039
            application/xml:
              schema: *id039
            text/xml:
              schema: *id039
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetUnitNonAvailability:
    post:
      tags:
      - NonAvailability
      summary: Gets all the non-availability information for a single Unit within a Property Management Company.
      operationId: GetUnitNonAvailability
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: An object specifying the criteria with which to search Availability.
        content:
          application/json:
            schema: &id040
              $ref: '#/components/schemas/NonAvailabilitySpecification'
          text/json:
            schema: *id040
          application/xml:
            schema: *id040
          text/xml:
            schema: *id040
          application/x-www-form-urlencoded:
            schema: *id040
        x-body-param-name: nonAvailabilitySpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id041
                type: array
                items:
                  $ref: '#/components/schemas/NonAvailability'
            text/json:
              schema: *id041
            application/xml:
              schema: *id041
            text/xml:
              schema: *id041
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SearchOwners:
    post:
      tags:
      - Owners
      summary: "Lists the owners that match the search criteria for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.\r\nA contains search is performed for each field and any matching results are returned.\r\nIf an empty search criteria is specified, then all owners are returned.\r\nThe returned owners are sorted alphabetically by last name then first name."
      operationId: SearchOwners
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: A {HomeAway.DragomanAPI.Contract.PagedSearchSpecification`1} containing the search criteria
        content:
          application/json:
            schema: &id042
              $ref: '#/components/schemas/PagedSearchSpecification_OwnerSearchSpecification'
          text/json:
            schema: *id042
          application/xml:
            schema: *id042
          text/xml:
            schema: *id042
          application/x-www-form-urlencoded:
            schema: *id042
        x-body-param-name: specification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id043
                $ref: '#/components/schemas/PagedSearchResults_Owner'
            text/json:
              schema: *id043
            application/xml:
              schema: *id043
            text/xml:
              schema: *id043
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetOwnerById:
    get:
      tags:
      - Owners
      summary: Gets a single {HomeAway.DragomanAPI.Contract.Models.Owner}, specified by its native endsystem identifier.
      operationId: GetOwnerById
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: ownerNativePMSID
        in: query
        description: The native endsystem identifier of the {HomeAway.DragomanAPI.Contract.Models.Owner}.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id044
                $ref: '#/components/schemas/Owner'
            text/json:
              schema: *id044
            application/xml:
              schema: *id044
            text/xml:
              schema: *id044
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListPackages:
    get:
      tags:
      - Packages
      summary: "Lists the definitions of available Packages for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem \r\nand x-homeaway-hasp-api-pmcid headers."
      operationId: ListPackages
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id045
                type: array
                items:
                  $ref: '#/components/schemas/Package'
            text/json:
              schema: *id045
            application/xml:
              schema: *id045
            text/xml:
              schema: *id045
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListPackagesByUnit:
    get:
      tags:
      - Packages
      summary: Lists packages for a single unit, specified by unitNativePMSID. This will return definitions of the available Packages, not booked instances of them.
      operationId: ListPackagesByUnit
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: unitId
        in: query
        description: The native identifier of the Unit within the HomeAway EndSystem.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id046
                type: array
                items:
                  $ref: '#/components/schemas/Package'
            text/json:
              schema: *id046
            application/xml:
              schema: *id046
            text/xml:
              schema: *id046
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetPackageById:
    get:
      tags:
      - Packages
      summary: Get the details for a single Package, specified by packageNativePMSID. This will return the definition of the Package, not a booked instance of it.
      operationId: GetPackageById
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: The native identifier of the Package within the HomeAway EndSystem.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id047
                $ref: '#/components/schemas/Package'
            text/json:
              schema: *id047
            application/xml:
              schema: *id047
            text/xml:
              schema: *id047
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/SearchPackages:
    post:
      tags:
      - Packages
      summary: "Search for Packages within a Property Management Company based on a PackageSearchSpecification object allowing faceting by optional \r\nstay date ranges, reservation types, unit NativePMSIDs, and a search term. Any matching Packages are returned in a paged format based on \r\nthe incoming paging information on the search specification."
      operationId: SearchPackages
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: An object specifying the criteria with which to search Packages.
        content:
          application/json:
            schema: &id048
              $ref: '#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification'
          text/json:
            schema: *id048
          application/xml:
            schema: *id048
          text/xml:
            schema: *id048
          application/x-www-form-urlencoded:
            schema: *id048
        x-body-param-name: packageSearchSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id049
                $ref: '#/components/schemas/PagedSearchResults_Package'
            text/json:
              schema: *id049
            application/xml:
              schema: *id049
            text/xml:
              schema: *id049
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetGuestPaymentMethods:
    get:
      tags:
      - Payments
      summary: Lists payment methods for a given guest.
      operationId: GetGuestPaymentMethods
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: guestNativePMSID
        in: query
        description: The native PMSID of the guest whose payment methods should be viewed.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id050
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
            text/json:
              schema: *id050
            application/xml:
              schema: *id050
            text/xml:
              schema: *id050
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetPaymentMethod:
    get:
      tags:
      - Payments
      summary: Gets a payment method with the given identifier.
      operationId: GetPaymentMethod
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id051
                $ref: '#/components/schemas/PaymentMethod'
            text/json:
              schema: *id051
            application/xml:
              schema: *id051
            text/xml:
              schema: *id051
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/CreatePaymentMethod:
    post:
      tags:
      - Payments
      summary: Creates a new payment method for the given guest. eChecks for V12 are not supported.
      operationId: CreatePaymentMethod
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id052
              $ref: '#/components/schemas/PaymentMethod'
          text/json:
            schema: *id052
          application/xml:
            schema: *id052
          text/xml:
            schema: *id052
          application/x-www-form-urlencoded:
            schema: *id052
        x-body-param-name: paymentMethod
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id053
                $ref: '#/components/schemas/PaymentMethod'
            text/json:
              schema: *id053
            application/xml:
              schema: *id053
            text/xml:
              schema: *id053
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/UpdatePaymentMethod:
    put:
      tags:
      - Payments
      summary: Updates an existing payment method for the given guest.
      operationId: UpdatePaymentMethod
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        content:
          application/json:
            schema: &id054
              $ref: '#/components/schemas/PaymentMethod'
          text/json:
            schema: *id054
          application/xml:
            schema: *id054
          text/xml:
            schema: *id054
          application/x-www-form-urlencoded:
            schema: *id054
        x-body-param-name: paymentMethod
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GetReservationPayments:
    get:
      tags:
      - Payments
      summary: Retrieves the payment history for a given reservation.
      operationId: GetReservationPayments
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: reservationId
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id055
                type: array
                items:
                  $ref: '#/components/schemas/ReservationPayment'
            text/json:
              schema: *id055
            application/xml:
              schema: *id055
            text/xml:
              schema: *id055
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListPricingPlans:
    get:
      tags:
      - PromoCodes
      summary: Lists the pricing plans available for a given reservation type within a PMC
      operationId: ListPricingPlans
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: reservationTypeId
        in: query
        description: Which reservation type the pricing plans will apply to
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id056
                type: array
                items:
                  $ref: '#/components/schemas/PricingPlan'
            text/json:
              schema: *id056
            application/xml:
              schema: *id056
            text/xml:
              schema: *id056
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/ListPromoCodes:
    get:
      tags:
      - PromoCodes
      summary: Gets all the {HomeAway.DragomanAPI.Contract.Models.PromoCode}s currently available for the property
      operationId: ListPromoCodes
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: id
        in: query
        description: reservationTypeNativePMSID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id057
                type: array
                items:
                  $ref: '#/components/schemas/PromoCode'
            text/json:
              schema: *id057
            application/xml:
              schema: *id057
            text/xml:
              schema: *id057
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GenerateQuote:
    post:
      tags:
      - Quotes
      summary: Generates a Quote in the HomeAway EndSystem based on the information supplied in the QuoteSpecification.
      operationId: GenerateQuote
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: An object specifying the criteria with which to generate a Quote.
        content:
          application/json:
            schema: &id058
              $ref: '#/components/schemas/QuoteSpecification'
          text/json:
            schema: *id058
          application/xml:
            schema: *id058
          text/xml:
            schema: *id058
          application/x-www-form-urlencoded:
            schema: *id058
        x-body-param-name: quoteSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id059
                $ref: '#/components/schemas/Quote'
            text/json:
              schema: *id059
            application/xml:
              schema: *id059
            text/xml:
              schema: *id059
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GenerateMultiQuote:
    post:
      tags:
      - Quotes
      summary: Generates multiple quotes in the end system for different units for the same date ranges
      operationId: GenerateMultiQuote
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: "Specification for generating quotes. The difference between the normal QuoteSpecification is the 'UnitNativePMSIDs' property\r\n            that should be filled with a list of unit native pmsids to quote."
        content:
          application/json:
            schema: &id060
              $ref: '#/components/schemas/MultiQuoteSpecification'
          text/json:
            schema: *id060
          application/xml:
            schema: *id060
          text/xml:
            schema: *id060
          application/x-www-form-urlencoded:
            schema: *id060
        x-body-param-name: multiQuoteSpecification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: &id061
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
            text/json:
              schema: *id061
            application/xml:
              schema: *id061
            text/xml:
              schema: *id061
        '400':
          description: Bad Request. This can result from a malformed request body.
        '401':
          description: Unauthorized. This can result from a missing, expired or malformed Authorization header.
        '403':
          description: Forbidden. This can result from insufficient permissions to access a method.
  /hsapi/GenerateReservationPackagesQuote:
    post:
      tags:
      - Quotes
      summary: Generates a Quote in the end system based on the incoming reservation Id and the incoming customization specification.
      operationId: GenerateReservationPackagesQuote
      parameters:
      - name: x-homeaway-hasp-api-version
        in: header
        required: true
        schema:
          type: string
          default: '10'
      - name: x-homeaway-hasp-api-endsystem
        in: header
        required: true
        schema:
          type: string
          default: EscapiaVRS
      - name: x-homeaway-hasp-api-pmcid
        in: header
        required: true
        schema:
          type: string
          default: '1020'
      - name: Authorization
        in: header
        description: Bearer Authorization header. The value should be "Bearer < bearer token >". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.
        required: true
        schema:
          type: string
          default: Bearer <base64 encoded bearer token>
      requestBody:
        required: true
        description: "The {HomeAway.DragomanAPI.Contract.Models.CustomizeReservationSpecification} describing the desired state of \r\nthe {HomeAway.DragomanAPI.Contract.Models.Reservation}'s {HomeAway.DragomanAPI.Contract.Models.AddOn}s, {HomeAway.DragomanAPI.Contract.Models.Package}s, and {HomeAway.DragomanAPI.Contract.Models.Extra}s"
        content:
          application/json:
            schema: &id062
              $ref: '#/components/schemas/CustomizeReservationSpecification'
          text/json:
            schema: *id062
          application/xml:
            schema: *id062
          text/xml:
            schema: *id062
          application/x-www-form-urlencoded:
[...]
