{"swagger":"2.0","info":{"version":"10","title":"homeaway-hsapi-swagger-definition"},"host":"hsapi.escapia.com","basePath":"/dragomanadapter","schemes":["https"],"paths":{"/hsapi/ListAddOns":{"get":{"tags":["AddOns"],"summary":"Gets all the {HomeAway.DragomanAPI.Contract.Models.AddOn}s currently available for a single Property Management Company","operationId":"ListAddOns","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AddOn"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetAddOnById":{"get":{"tags":["AddOns"],"summary":"Gets a single {HomeAway.DragomanAPI.Contract.Models.AddOn} by its unique ID","operationId":"GetAddOnById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"native ID of the AddOn to fetch","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AddOn"}},"404":{"description":"AddOn not found."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchAddOns":{"post":{"tags":["AddOns"],"summary":"Gets available {HomeAway.DragomanAPI.Contract.Models.AddOn}s based on details within the search specification.\r\nThis can be used to see what AddOns are available for a new quote\r\nthe traveler is constructing.","operationId":"SearchAddOns","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"addOnSearchSpecification","in":"body","description":"A paged {HomeAway.DragomanAPI.Contract.Models.CustomizationSearchSpecification}, including book and stay dates and unit","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_AddOnSearchSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_AddOn"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetCompanyInfo":{"get":{"tags":["Configuration"],"summary":"Returns the company information for a given PMCID","operationId":"GetCompanyInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyInfo"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListEventTypes":{"get":{"tags":["Events"],"summary":"Lists the available external event types for Reservations within a specific Property Management Company, \r\nwhich is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.","operationId":"ListEventTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"enum":["Email","ESignature","Print"],"type":"string"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListEventsByReservationId":{"post":{"tags":["Events"],"summary":"Lists the External Event history for a Reservation within a Property Management Company based on a PagedSearchSpecification object \r\ncontaining only a string that is the NativePMSID of the desired Reservation. Any matching ReservationEvent entries are returned in a paged format \r\nbased on the incoming paging information on the search specification.","operationId":"ListEventsByReservationId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"","required":true,"type":"string"},{"name":"searchSpecification","in":"body","description":"An object specifying the criteria with which to search Extras.","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_String"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_ReservationEvent"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListEventsByReservationNumber":{"post":{"tags":["Events"],"summary":"Lists the External Event history for a Reservation within a Property Management Company based on a PagedSearchSpecification object containing \r\nonly a string that is the friendly ReservationNumber of the desired Reservation. Any matching ReservationEvent entries are returned in a paged format \r\nbased on the incoming paging information on the search specification.","operationId":"ListEventsByReservationNumber","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationNumber","in":"query","description":"","required":true,"type":"string"},{"name":"searchSpecification","in":"body","description":"An object specifying the criteria with which to search Extras.","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_String"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_ReservationEvent"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/AddReservationEventByReservationId":{"post":{"tags":["Events"],"summary":"Adds the specified ReservationEvent to a Reservation within a Property Management Company.","operationId":"AddReservationEventByReservationId","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"The native endsystem reservation identifier of the reservation.","required":true,"type":"string"},{"name":"reservationEvent","in":"body","description":"The reservation event to add to the specified reservation.","required":true,"schema":{"$ref":"#/definitions/ReservationEvent"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReservationEvent"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/AddReservationEventByReservationNumber":{"post":{"tags":["Events"],"summary":"Adds the specified ReservationEvent to a Reservation within a Property Management Company.","operationId":"AddReservationEventByReservationNumber","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationNumber","in":"query","description":"The friendly reservation number provided to the Guest.","required":true,"type":"string"},{"name":"reservationEvent","in":"body","description":"The reservation event to add to the specified reservation.","required":true,"schema":{"$ref":"#/definitions/ReservationEvent"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReservationEvent"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListExtras":{"get":{"tags":["Extras"],"summary":"Lists the definitions of all available Extra(s) for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem \r\nand x-homeaway-hasp-api-pmcid headers.","operationId":"ListExtras","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Extra"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListExtrasByUnit":{"get":{"tags":["Extras"],"summary":"Lists available Extra(s) for a single unit, specified by unitNativePMSID. This will return the definitions \r\nof the available Extras, not a booked instances of them.","operationId":"ListExtrasByUnit","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"unitId","in":"query","description":"ID for the property, in the end system","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Extra"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetExtraById":{"get":{"tags":["Extras"],"summary":"Get the details for a single Extra, specified by extraNativePMSID. This will return the definition of the specified Extra, not a booked instance of that Extra.","operationId":"GetExtraById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"The native endsystem identifier of the extra.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Extra"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchExtras":{"post":{"tags":["Extras"],"summary":"Search for Extra(s) within a Property Management Company based on an ExtraSearchSpecification object allowing faceting by optional stay date ranges, \r\nreservation types, unit NativePMSIDs, and a search term. Any matching Extras are returned in a paged format based on the incoming paging information on the search specification.","operationId":"SearchExtras","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"extraSearchSpecification","in":"body","description":"An object specifying the criteria with which to search Extra(s).","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_CustomizationSearchSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_Extra"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListUnitFeatureGroups":{"get":{"tags":["FeatureGroups"],"summary":"Lists all defined unit feature groups for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.","operationId":"ListUnitFeatureGroups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FeatureGroup"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchGuests":{"post":{"tags":["Guests"],"summary":"Searches for Guest(s) in the Property Management Company based on the search string provided. The search string will be matched against various Guest data fields.","operationId":"SearchGuests","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"searchString","in":"query","description":"A search term used to find Guest(s). Searches span name, phone number, email address.","required":true,"type":"string"},{"name":"maxResults","in":"query","description":"The maximum number of matching Guest(s) to return.","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Guest"}}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListEmailContactTypes":{"get":{"tags":["Guests"],"summary":"Lists email types for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.","operationId":"ListEmailContactTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/EmailContactType"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListAddressContactTypes":{"get":{"tags":["Guests"],"summary":"Lists address types for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.","operationId":"ListAddressContactTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AddressContactType"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListPhoneContactTypes":{"get":{"tags":["Guests"],"summary":"Fetches the queryable of {HomeAway.DragomanAPI.Contract.Models.PhoneContactType}s for the current context.","operationId":"ListPhoneContactTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PhoneContactType"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetGuestById":{"get":{"tags":["Guests"],"summary":"Gets a Guest in the Property Management Company based on the Guest NativePMSID provided.","operationId":"GetGuestById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"The NativePMSID of a Guest to retrieve details for.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Guest"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/CreateGuest":{"put":{"tags":["Guests"],"summary":"","operationId":"CreateGuest","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"guest","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Guest"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Guest"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/CreateHousekeepingTask":{"post":{"tags":["Housekeeping"],"summary":"Creates new housekeeping task","operationId":"CreateHousekeepingTask","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"housekeepingTask","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/HousekeepingTask"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/HousekeepingTask"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/DeleteHousekeepingTask":{"delete":{"tags":["Housekeeping"],"summary":"Allows to delete housekeeping task","operationId":"DeleteHousekeepingTask","consumes":[],"produces":[],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"taskId","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetHousekeepingAssigneeList":{"get":{"tags":["Housekeeping"],"summary":"List of housekeeping activity assignees","operationId":"GetHousekeepingAssigneeList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MaintenanceAssignee"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetHousekeepingStatusList":{"get":{"tags":["Housekeeping"],"summary":"List of housekeeping activity statuses that can be used to set the status of an activity","operationId":"GetHousekeepingStatusList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/HousekeepingStatus"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetUnitHousekeepingStatuses":{"get":{"tags":["Housekeeping"],"summary":"Get Unit clean status projections for the native unit ids passed in.","operationId":"GetUnitHousekeepingStatuses","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"PMCID","in":"query","description":"","required":true,"type":"string"},{"name":"nativeUnitIds","in":"query","description":"","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BatchGetResponse_UnitHousekeepingStatus,String"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SaveUnitHousekeepingStatus":{"put":{"tags":["Housekeeping"],"summary":"Saves the unit housekeeping status","operationId":"SaveUnitHousekeepingStatus","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"housekeepingStatus","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/UnitHousekeepingStatusType"}},{"name":"nativeUnitId","in":"query","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchHousekeepingTasks":{"post":{"tags":["Housekeeping"],"summary":"Gets a page of housekeeping tasks for specific search specification","operationId":"SearchHousekeepingTasks","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"housekeepingTaskSearchSpecification","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_HousekeepingTaskSearchSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_HousekeepingTaskCustom"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/UpdateHousekeepingTask":{"put":{"tags":["Housekeeping"],"summary":"Allows to update housekeeping task","operationId":"UpdateHousekeepingTask","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"housekeepingTask","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/HousekeepingTask"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListMarketingCategories":{"get":{"tags":["Marketing"],"summary":"Lists marketing categories for a specific PM, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.\r\nRefer MarketingCategory for more details","operationId":"ListMarketingCategories","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MarketingCategory"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetUnitNonAvailability":{"post":{"tags":["NonAvailability"],"summary":"Gets all the non-availability information for a single Unit within a Property Management Company.","operationId":"GetUnitNonAvailability","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"nonAvailabilitySpecification","in":"body","description":"An object specifying the criteria with which to search Availability.","required":true,"schema":{"$ref":"#/definitions/NonAvailabilitySpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/NonAvailability"}}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchOwners":{"post":{"tags":["Owners"],"summary":"Lists the owners that match the search criteria for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.\r\nA contains search is performed for each field and any matching results are returned.\r\nIf an empty search criteria is specified, then all owners are returned.\r\nThe returned owners are sorted alphabetically by last name then first name.","operationId":"SearchOwners","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"specification","in":"body","description":"A {HomeAway.DragomanAPI.Contract.PagedSearchSpecification`1} containing the search criteria","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_OwnerSearchSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_Owner"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetOwnerById":{"get":{"tags":["Owners"],"summary":"Gets a single {HomeAway.DragomanAPI.Contract.Models.Owner}, specified by its native endsystem identifier.","operationId":"GetOwnerById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"ownerNativePMSID","in":"query","description":"The native endsystem identifier of the {HomeAway.DragomanAPI.Contract.Models.Owner}.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Owner"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListPackages":{"get":{"tags":["Packages"],"summary":"Lists the definitions of available Packages for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem \r\nand x-homeaway-hasp-api-pmcid headers.","operationId":"ListPackages","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Package"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListPackagesByUnit":{"get":{"tags":["Packages"],"summary":"Lists packages for a single unit, specified by unitNativePMSID. This will return definitions of the available Packages, not booked instances of them.","operationId":"ListPackagesByUnit","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"unitId","in":"query","description":"The native identifier of the Unit within the HomeAway EndSystem.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Package"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetPackageById":{"get":{"tags":["Packages"],"summary":"Get the details for a single Package, specified by packageNativePMSID. This will return the definition of the Package, not a booked instance of it.","operationId":"GetPackageById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"The native identifier of the Package within the HomeAway EndSystem.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Package"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchPackages":{"post":{"tags":["Packages"],"summary":"Search for Packages within a Property Management Company based on a PackageSearchSpecification object allowing faceting by optional \r\nstay date ranges, reservation types, unit NativePMSIDs, and a search term. Any matching Packages are returned in a paged format based on \r\nthe incoming paging information on the search specification.","operationId":"SearchPackages","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"packageSearchSpecification","in":"body","description":"An object specifying the criteria with which to search Packages.","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_CustomizationSearchSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_Package"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetGuestPaymentMethods":{"get":{"tags":["Payments"],"summary":"Lists payment methods for a given guest.","operationId":"GetGuestPaymentMethods","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"guestNativePMSID","in":"query","description":"The native PMSID of the guest whose payment methods should be viewed.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PaymentMethod"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetPaymentMethod":{"get":{"tags":["Payments"],"summary":"Gets a payment method with the given identifier.","operationId":"GetPaymentMethod","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaymentMethod"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/CreatePaymentMethod":{"post":{"tags":["Payments"],"summary":"Creates a new payment method for the given guest. eChecks for V12 are not supported.","operationId":"CreatePaymentMethod","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"paymentMethod","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PaymentMethod"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PaymentMethod"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/UpdatePaymentMethod":{"put":{"tags":["Payments"],"summary":"Updates an existing payment method for the given guest.","operationId":"UpdatePaymentMethod","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"paymentMethod","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/PaymentMethod"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetReservationPayments":{"get":{"tags":["Payments"],"summary":"Retrieves the payment history for a given reservation.","operationId":"GetReservationPayments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationId","in":"query","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ReservationPayment"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListPricingPlans":{"get":{"tags":["PromoCodes"],"summary":"Lists the pricing plans available for a given reservation type within a PMC","operationId":"ListPricingPlans","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationTypeId","in":"query","description":"Which reservation type the pricing plans will apply to","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PricingPlan"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListPromoCodes":{"get":{"tags":["PromoCodes"],"summary":"Gets all the {HomeAway.DragomanAPI.Contract.Models.PromoCode}s currently available for the property","operationId":"ListPromoCodes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"reservationTypeNativePMSID","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PromoCode"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GenerateQuote":{"post":{"tags":["Quotes"],"summary":"Generates a Quote in the HomeAway EndSystem based on the information supplied in the QuoteSpecification.","operationId":"GenerateQuote","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"quoteSpecification","in":"body","description":"An object specifying the criteria with which to generate a Quote.","required":true,"schema":{"$ref":"#/definitions/QuoteSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Quote"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GenerateMultiQuote":{"post":{"tags":["Quotes"],"summary":"Generates multiple quotes in the end system for different units for the same date ranges","operationId":"GenerateMultiQuote","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"multiQuoteSpecification","in":"body","description":"Specification for generating quotes. The difference between the normal QuoteSpecification is the 'UnitNativePMSIDs' property\r\n            that should be filled with a list of unit native pmsids to quote.","required":true,"schema":{"$ref":"#/definitions/MultiQuoteSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Quote"}}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GenerateReservationPackagesQuote":{"post":{"tags":["Quotes"],"summary":"Generates a Quote in the end system based on the incoming reservation Id and the incoming customization specification.","operationId":"GenerateReservationPackagesQuote","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"specification","in":"body","description":"The {HomeAway.DragomanAPI.Contract.Models.CustomizeReservationSpecification} describing the desired state of \r\nthe {HomeAway.DragomanAPI.Contract.Models.Reservation}'s {HomeAway.DragomanAPI.Contract.Models.AddOn}s, {HomeAway.DragomanAPI.Contract.Models.Package}s, and {HomeAway.DragomanAPI.Contract.Models.Extra}s","required":true,"schema":{"$ref":"#/definitions/CustomizeReservationSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Quote"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/RunReport":{"post":{"tags":["Reports"],"summary":"Method that allows running reports on the end system.","operationId":"RunReport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reportSpecification","in":"body","description":"Specifies the report to be run","required":true,"schema":{"$ref":"#/definitions/ReportSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReportOutput"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/CreateReservation":{"put":{"tags":["Reservations"],"summary":"Creates a Reservation in the HomeAway EndSystem based on the information supplied in the ReservationSpecification. This endpoint may \r\nreturn PreconditionFailed (412) in cases of booking rule errors requiring explicit acknowledgement.","operationId":"CreateReservation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationSpecification","in":"body","description":"An object specifying the criteria with which to create a Reservation. Refer ReservationSpecification for more details.","required":true,"schema":{"$ref":"#/definitions/ReservationSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/CancelReservation":{"post":{"tags":["Reservations"],"summary":"Cancels a Reservation in the HomeAway EndSystem based on the information supplied in the ReservationCancellationSpecification. If successful, \r\nreturns the cancelled Reservation, else returns the Reservation containing a Diagnosis on failure.","operationId":"CancelReservation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"","required":true,"type":"string"},{"name":"specification","in":"body","description":"An object specifying the criteria with which to cancel a Reservation. Refer ReservationCancellationSpecification for more details.","required":true,"schema":{"$ref":"#/definitions/ReservationCancellationSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/UpdateReservation":{"put":{"tags":["Reservations"],"summary":"Updates a Reservation in the end system based on the information supplied in the ReservationChangeSpecification. Returns the updated Reservation \r\nif successful, else the unaltered Reservation containing a Diagnosis on failure.","operationId":"UpdateReservation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"","required":true,"type":"string"},{"name":"specification","in":"body","description":"An object specifying the criteria with which to update a Reservation. Refer ReservationChangeSpecification for more details.","required":true,"schema":{"$ref":"#/definitions/ReservationChangeSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/UpdateReservationMetadata":{"put":{"tags":["Reservations"],"summary":"Updates the reservation metadata for a given reservation","operationId":"UpdateReservationMetadata","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationMetadataUpdateSpecification","in":"body","description":"Describes the updates to make","required":true,"schema":{"$ref":"#/definitions/ReservationMetadataUpdateSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetReservationByNumber":{"get":{"tags":["Reservations"],"summary":"Get the details for a single Reservation, specified by the reservationNumber provided to the customer.","operationId":"GetReservationByNumber","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationNumber","in":"query","description":"The friendly reservation number provided to the Guest.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"404":{"description":"Not Found. This can result from a non-existent reservationNumber."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetReservationById":{"get":{"tags":["Reservations"],"summary":"Get the details for a single Reservation, specified by the reservation's NativePMSID.","operationId":"GetReservationById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"id","in":"query","description":"The native endsystem reservation identifier of the reservation.","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/SearchReservationSummaries":{"post":{"tags":["Reservations"],"summary":"Fetches the requested page of ReservationSummary objects matching the criteria contained on incoming ReservationSearchSpecification. \r\nReservationSummary objects provide overview information for Reservations; use the getReservationBy* endpoints to retrieve details on a specific Reservation.","operationId":"SearchReservationSummaries","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"specification","in":"body","description":"A {HomeAway.DragomanAPI.Contract.PagedSearchSpecification`1} containing the search criteria. Refer ReservationSearchSpecification for more details.","required":true,"schema":{"$ref":"#/definitions/PagedSearchSpecification_ReservationSearchSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagedSearchResults_ReservationSummary"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/CustomizeReservation":{"put":{"tags":["Reservations"],"summary":"Customizes a Reservation in the HomeAway EndSystem by applying the indicated state of AddOns, Packages, and Extras supplied in the incoming \r\nspecification. Returns the updated Reservation with the customized items if successful, else the unaltered Reservation containing a Diagnosis on failure.","operationId":"CustomizeReservation","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"specification","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/CustomizeReservationSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/ListReservationTypes":{"get":{"tags":["Reservations"],"summary":"Returns the list of available reservation types for the given PMC.","operationId":"ListReservationTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ReservationType"}}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/UpdateReservationOccupancyStatus":{"post":{"tags":["Reservations"],"summary":"Updates the reservation occupancy, such as checking in","operationId":"UpdateReservationOccupancyStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationId","in":"query","description":"","required":true,"type":"string"},{"name":"occupancyStateChange","in":"query","description":"","required":true,"type":"string","enum":["CheckIn","CheckOut","UndoCheckIn","UndoCheckOut"]},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Diagnosis"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/AddReservationCharge":{"post":{"tags":["Reservations"],"summary":"Adds a reservation charge based on the ReservationChargeSpecification and returns a Diagnosis if it fails.\r\nFor V12, the PM will need to map the Category to an existing Cost Code in V12.  Available only to specially approved partner integrations, contact HomeAway Software Customer Support if you have more questions.","operationId":"AddReservationCharge","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"reservationChargeSpecification","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ReservationChargeSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Diagnosis"}},"400":{"description":"Bad Request. This can result from a malformed request body."},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GetReservationChanges":{"get":{"tags":["Reservations"],"summary":"Gets the reservations that have changed since the given version.","description":"<para>When calling the method for the first time, a start version of 0 is suggested.  This will return changes since the end system has started tracking changes until the endVersion.</para>\r\n<para>Each method call returns both a change list and an endVersion, which represents the version of the last item included in the response. The change list will only include items with a version higher than the provided startVersion.</para>\r\n<para>For subsequent calls, use the endVersion from the previous response as the new startVersion to continue retrieving changes incrementally</para>\r\n<para>Note that the method does not guarantee returning all changes up to the current moment. It is the caller’s responsibility to make additional calls to ensure all changes are retrieved.</para>\r\n<para>Additionally, the method may collapse multiple changes to the same element into a single, most recent update. For example, if an element has undergone 50 modifications, only the latest change will be included in the results.</para>","operationId":"GetReservationChanges","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"startVersion","in":"query","description":"The starting version for the search.  \r\n            \t<para>The initial call to this method should use a start version of 0.</para><para>Subsequent calls to the method should use the returned endVersion.</para>","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChangeList"}},"401":{"description":"Unauthorized. This can result from a missing, expired or malformed Authorization header."},"403":{"description":"Forbidden. This can result from insufficient permissions to access a method."}}}},"/hsapi/GenerateSeasonalRateSchedules":{"post":{"tags":["Units"],"summary":"Generates a seasonal rate schedule for units passed in, based on the values in the seasonalRateScheduleSpecification passed in. Method is not supported for EscapiaVRS","operationId":"GenerateSeasonalRateSchedules","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"x-homeaway-hasp-api-version","in":"header","required":true,"type":"string","default":"10"},{"name":"x-homeaway-hasp-api-endsystem","in":"header","required":true,"type":"string","default":"EscapiaVRS"},{"name":"x-homeaway-hasp-api-pmcid","in":"header","required":true,"type":"string","default":"1020"},{"name":"seasonalRateScheduleSpecification","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/SeasonalRateScheduleSpecification"}},{"name":"Authorization","in":"header","description":"Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.","required":true,"type":"string","default":"Bearer <base64 encoded bearer token>"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeasonalRateScheduleBatch"}},"400":{"descr
[...]
