{
  "openapi": "3.0.3",
  "info": {
    "title": "homeaway-hsapi-swagger-definition",
    "version": "10",
    "description": "## Overview\n\nThis OpenAPI specification consolidates the two Escapia developer APIs into a single document:\n\n1. **HSAPI (REST)** — the HomeAway Dragoman Adapter REST API at `https://hsapi.escapia.com/dragomanadapter` covering AddOns, Configuration, Events, Extras, FeatureGroups, Guests, Housekeeping, Marketing, NonAvailability, Owners, Packages, Payments, PromoCodes, Quotes, Reports, Reservations, Units, Utility, and WorkOrders (79 endpoints).\n\n2. **Gateway API (GraphQL)** — the Escapia Gateway GraphQL API at `https://api-gateway.escapia.com/graphql` for rates, fees, taxes, nightly rates, booking restrictions, booking channels, and unit listing content. Represented here as its two HTTP endpoints (/token, /graphql); see the consolidated documentation for the full GraphQL query reference.\n\nAuthentication for HSAPI uses a bearer token from `/hsapi/auth/token` plus the `x-homeaway-hasp-api-version`, `x-homeaway-hasp-api-endsystem`, and `x-homeaway-hasp-api-pmcid` headers. Authentication for the Gateway API uses a bearer token from `/token`."
  },
  "servers": [
    {
      "url": "https://hsapi.escapia.com/dragomanadapter",
      "description": "Escapia HSAPI (Dragoman Adapter)"
    },
    {
      "url": "https://api-gateway.escapia.com",
      "description": "Escapia Gateway API (GraphQL)"
    }
  ],
  "paths": {
    "/hsapi/ListAddOns": {
      "get": {
        "tags": [
          "AddOns"
        ],
        "summary": "Gets all the {HomeAway.DragomanAPI.Contract.Models.AddOn}s currently available for a single Property Management Company",
        "operationId": "ListAddOns",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOn"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOn"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOn"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOn"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetAddOnById": {
      "get": {
        "tags": [
          "AddOns"
        ],
        "summary": "Gets a single {HomeAway.DragomanAPI.Contract.Models.AddOn} by its unique ID",
        "operationId": "GetAddOnById",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "native ID of the AddOn to fetch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOn"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOn"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddOn"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddOn"
                }
              }
            }
          },
          "404": {
            "description": "AddOn not found."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/SearchAddOns": {
      "post": {
        "tags": [
          "AddOns"
        ],
        "summary": "Gets available {HomeAway.DragomanAPI.Contract.Models.AddOn}s based on details within the search specification.\r\nThis can be used to see what AddOns are available for a new quote\r\nthe traveler is constructing.",
        "operationId": "SearchAddOns",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "A paged {HomeAway.DragomanAPI.Contract.Models.CustomizationSearchSpecification}, including book and stay dates and unit",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_AddOnSearchSpecification"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_AddOnSearchSpecification"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_AddOnSearchSpecification"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_AddOnSearchSpecification"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_AddOnSearchSpecification"
              }
            }
          },
          "x-body-param-name": "addOnSearchSpecification"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_AddOn"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_AddOn"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_AddOn"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_AddOn"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetCompanyInfo": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Returns the company information for a given PMCID",
        "operationId": "GetCompanyInfo",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListEventTypes": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Lists the available external event types for Reservations within a specific Property Management Company, \r\nwhich is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.",
        "operationId": "ListEventTypes",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Email",
                      "ESignature",
                      "Print"
                    ],
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Email",
                      "ESignature",
                      "Print"
                    ],
                    "type": "string"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Email",
                      "ESignature",
                      "Print"
                    ],
                    "type": "string"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "enum": [
                      "Email",
                      "ESignature",
                      "Print"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListEventsByReservationId": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Lists the External Event history for a Reservation within a Property Management Company based on a PagedSearchSpecification object \r\ncontaining only a string that is the NativePMSID of the desired Reservation. Any matching ReservationEvent entries are returned in a paged format \r\nbased on the incoming paging information on the search specification.",
        "operationId": "ListEventsByReservationId",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "An object specifying the criteria with which to search Extras.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            }
          },
          "x-body-param-name": "searchSpecification"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListEventsByReservationNumber": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Lists the External Event history for a Reservation within a Property Management Company based on a PagedSearchSpecification object containing \r\nonly a string that is the friendly ReservationNumber of the desired Reservation. Any matching ReservationEvent entries are returned in a paged format \r\nbased on the incoming paging information on the search specification.",
        "operationId": "ListEventsByReservationNumber",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "reservationNumber",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "An object specifying the criteria with which to search Extras.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_String"
              }
            }
          },
          "x-body-param-name": "searchSpecification"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_ReservationEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/AddReservationEventByReservationId": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Adds the specified ReservationEvent to a Reservation within a Property Management Company.",
        "operationId": "AddReservationEventByReservationId",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The native endsystem reservation identifier of the reservation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The reservation event to add to the specified reservation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            }
          },
          "x-body-param-name": "reservationEvent"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/AddReservationEventByReservationNumber": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Adds the specified ReservationEvent to a Reservation within a Property Management Company.",
        "operationId": "AddReservationEventByReservationNumber",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "reservationNumber",
            "in": "query",
            "description": "The friendly reservation number provided to the Guest.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The reservation event to add to the specified reservation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ReservationEvent"
              }
            }
          },
          "x-body-param-name": "reservationEvent"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListExtras": {
      "get": {
        "tags": [
          "Extras"
        ],
        "summary": "Lists the definitions of all available Extra(s) for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem \r\nand x-homeaway-hasp-api-pmcid headers.",
        "operationId": "ListExtras",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListExtrasByUnit": {
      "get": {
        "tags": [
          "Extras"
        ],
        "summary": "Lists available Extra(s) for a single unit, specified by unitNativePMSID. This will return the definitions \r\nof the available Extras, not a booked instances of them.",
        "operationId": "ListExtrasByUnit",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "unitId",
            "in": "query",
            "description": "ID for the property, in the end system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Extra"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetExtraById": {
      "get": {
        "tags": [
          "Extras"
        ],
        "summary": "Get the details for a single Extra, specified by extraNativePMSID. This will return the definition of the specified Extra, not a booked instance of that Extra.",
        "operationId": "GetExtraById",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The native endsystem identifier of the extra.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extra"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Extra"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Extra"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Extra"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/SearchExtras": {
      "post": {
        "tags": [
          "Extras"
        ],
        "summary": "Search for Extra(s) within a Property Management Company based on an ExtraSearchSpecification object allowing faceting by optional stay date ranges, \r\nreservation types, unit NativePMSIDs, and a search term. Any matching Extras are returned in a paged format based on the incoming paging information on the search specification.",
        "operationId": "SearchExtras",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "An object specifying the criteria with which to search Extra(s).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_CustomizationSearchSpecification"
              }
            }
          },
          "x-body-param-name": "extraSearchSpecification"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_Extra"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_Extra"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_Extra"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_Extra"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListUnitFeatureGroups": {
      "get": {
        "tags": [
          "FeatureGroups"
        ],
        "summary": "Lists all defined unit feature groups for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.",
        "operationId": "ListUnitFeatureGroups",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureGroup"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureGroup"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureGroup"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureGroup"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/SearchGuests": {
      "post": {
        "tags": [
          "Guests"
        ],
        "summary": "Searches for Guest(s) in the Property Management Company based on the search string provided. The search string will be matched against various Guest data fields.",
        "operationId": "SearchGuests",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "description": "A search term used to find Guest(s). Searches span name, phone number, email address.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of matching Guest(s) to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Guest"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Guest"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Guest"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Guest"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListEmailContactTypes": {
      "get": {
        "tags": [
          "Guests"
        ],
        "summary": "Lists email types for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.",
        "operationId": "ListEmailContactTypes",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailContactType"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailContactType"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailContactType"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailContactType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListAddressContactTypes": {
      "get": {
        "tags": [
          "Guests"
        ],
        "summary": "Lists address types for a specific Property Management Company, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.",
        "operationId": "ListAddressContactTypes",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressContactType"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressContactType"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressContactType"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressContactType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListPhoneContactTypes": {
      "get": {
        "tags": [
          "Guests"
        ],
        "summary": "Fetches the queryable of {HomeAway.DragomanAPI.Contract.Models.PhoneContactType}s for the current context.",
        "operationId": "ListPhoneContactTypes",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneContactType"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneContactType"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneContactType"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneContactType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetGuestById": {
      "get": {
        "tags": [
          "Guests"
        ],
        "summary": "Gets a Guest in the Property Management Company based on the Guest NativePMSID provided.",
        "operationId": "GetGuestById",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The NativePMSID of a Guest to retrieve details for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/CreateGuest": {
      "put": {
        "tags": [
          "Guests"
        ],
        "summary": "",
        "operationId": "CreateGuest",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Guest"
              }
            }
          },
          "x-body-param-name": "guest"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/CreateHousekeepingTask": {
      "post": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "Creates new housekeeping task",
        "operationId": "CreateHousekeepingTask",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            }
          },
          "x-body-param-name": "housekeepingTask"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousekeepingTask"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousekeepingTask"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HousekeepingTask"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HousekeepingTask"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/DeleteHousekeepingTask": {
      "delete": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "Allows to delete housekeeping task",
        "operationId": "DeleteHousekeepingTask",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetHousekeepingAssigneeList": {
      "get": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "List of housekeeping activity assignees",
        "operationId": "GetHousekeepingAssigneeList",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaintenanceAssignee"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaintenanceAssignee"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaintenanceAssignee"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MaintenanceAssignee"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetHousekeepingStatusList": {
      "get": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "List of housekeeping activity statuses that can be used to set the status of an activity",
        "operationId": "GetHousekeepingStatusList",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousekeepingStatus"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousekeepingStatus"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousekeepingStatus"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousekeepingStatus"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/GetUnitHousekeepingStatuses": {
      "get": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "Get Unit clean status projections for the native unit ids passed in.",
        "operationId": "GetUnitHousekeepingStatuses",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "PMCID",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nativeUnitIds",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetResponse_UnitHousekeepingStatus,String"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetResponse_UnitHousekeepingStatus,String"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetResponse_UnitHousekeepingStatus,String"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetResponse_UnitHousekeepingStatus,String"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/SaveUnitHousekeepingStatus": {
      "put": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "Saves the unit housekeeping status",
        "operationId": "SaveUnitHousekeepingStatus",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "nativeUnitId",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitHousekeepingStatusType"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UnitHousekeepingStatusType"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UnitHousekeepingStatusType"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UnitHousekeepingStatusType"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UnitHousekeepingStatusType"
              }
            }
          },
          "x-body-param-name": "housekeepingStatus"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/SearchHousekeepingTasks": {
      "post": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "Gets a page of housekeeping tasks for specific search specification",
        "operationId": "SearchHousekeepingTasks",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_HousekeepingTaskSearchSpecification"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_HousekeepingTaskSearchSpecification"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_HousekeepingTaskSearchSpecification"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_HousekeepingTaskSearchSpecification"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PagedSearchSpecification_HousekeepingTaskSearchSpecification"
              }
            }
          },
          "x-body-param-name": "housekeepingTaskSearchSpecification"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_HousekeepingTaskCustom"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_HousekeepingTaskCustom"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_HousekeepingTaskCustom"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PagedSearchResults_HousekeepingTaskCustom"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/UpdateHousekeepingTask": {
      "put": {
        "tags": [
          "Housekeeping"
        ],
        "summary": "Allows to update housekeeping task",
        "operationId": "UpdateHousekeepingTask",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/HousekeepingTask"
              }
            }
          },
          "x-body-param-name": "housekeepingTask"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. This can result from a malformed request body."
          },
          "401": {
            "description": "Unauthorized. This can result from a missing, expired or malformed Authorization header."
          },
          "403": {
            "description": "Forbidden. This can result from insufficient permissions to access a method."
          }
        }
      }
    },
    "/hsapi/ListMarketingCategories": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Lists marketing categories for a specific PM, which is specified in the x-homeaway-hasp-api-endsystem and x-homeaway-hasp-api-pmcid headers.\r\nRefer MarketingCategory for more details",
        "operationId": "ListMarketingCategories",
        "parameters": [
          {
            "name": "x-homeaway-hasp-api-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "x-homeaway-hasp-api-endsystem",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EscapiaVRS"
            }
          },
          {
            "name": "x-homeaway-hasp-api-pmcid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1020"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer Authorization header. The value should be \"Bearer < bearer token >\". The bearer token is obtained from the auth/token endpoint. The bearer token must be base64 encoded. Use the above <a href='#oauthTokenGeneratorContainer'>form</a> to request and populate OAuth Bearer Token and Client Id.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Bearer <base64 encoded bearer token>"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketingCategory"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketingCategory"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
[...]
